/* RESET CSS */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  position: relative;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* FIM RESET */

/* INICIO VARIAVEIS */
:root {
  --color-rose-800: #7a284e;
  --color-rose-50: #fff7fb;
  --color-stone-900: stone-900;
  --color-stone-600: #5f564d;
  --color-stone-150: #e3ddd7;
  --color-stone-100: #f3e5d7;
  --color-brown-800: #854632;
  --color-white: #fff;
  --text-preset-1: 4rem/100% "Young Serif", serif;
  --text-preset-2: 2.8rem/100% "Young Serif", serif;
  --text-preset-3: 600 2rem/100% "Outfit", serif;
  --text-preset-4: 1.6rem/150% "Outfit", serif;
  --text-preset-5: bold 1.6rem/150% "Outfit", serif;
}

/* FIM VARIAVEIS */

.bg-color {
  width: 100%;
  background-color: var(--color-stone-100);
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 76.6rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 100%;
  background-color: var(--color-white);
  padding: 4rem;
  border-radius: 2.4rem;
}

.card .card-img {
  border-radius: 1.2rem;
  margin-bottom: 4rem;
}

.card .card-title {
  width: 100%;
}

.card .card-title h1 {
  color: var(--color-stone-900);
  font: var(--text-preset-1);
  margin-bottom: 2.4rem;
}

.card .card-title p {
  color: var(--color-stone-600);
  font: var(--text-preset-4);
  margin-bottom: 3.2rem;
}

.card .card-preparation {
  width: 100%;
  background-color: var(--color-rose-50);
  padding: 2.4rem;
  border-radius: 1.2rem;
}

.card .card-preparation h3 {
  font: var(--text-preset-3);
  color: var(--color-rose-800);
  margin-bottom: 1.6rem;
}

.card .card-preparation ul {
  color: var(--color-stone-600);
  font: var(--text-preset-4);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-left: 2rem;
}

.card .card-preparation li::marker {
  color: var(--color-rose-800);
}

.card .card-preparation ul li span {
  color: var(--color-stone-600);
  font: var(--text-preset-4);
  font-style: normal;
  font-weight: 700;
}

.card .card-ingredients {
  padding: 3.2rem 0;
  width: 100%;
  border-bottom: 1px solid var(--color-stone-150);
}

.card .card-ingredients h2 {
  color: var(--color-brown-800);
  font: var(--text-preset-2);
  margin-bottom: 2.4rem;
}

.card .card-ingredients ul {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.card .card-ingredients ul li {
  color: var(--color-stone-600);
  font: var(--text-preset-4);
}

.card .card-ingredients ul li::marker {
  color: var(--color-brown-800);
}

